@model IEnumerable<Labb4MVC_Razor.Models.BookBorrow>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Customer
            </th>
            <th>
                Book
            </th>
            <th>
               Checkout Date
            </th>
            <th>
                Return Date
            </th>
            <th>
              Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.BookAuthor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookBorrowDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookReturnDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
